
@tailwind base;
@tailwind components;
@tailwind utilities;

.two-tone-glow-pink {
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #e600e6, 0 0 20px #e600e6;
}

.two-tone-glow-orange {
  box-shadow: 0 0 5px #ffA500, 0 0 10px #ffA500, 0 0 15px #ff4500, 0 0 20px #ff4500;
}
